@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Tapestry&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-family: 'Tapestry', cursive;
}

h1 {
    color: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
html{
    color:#000000
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #203239;
    color: #EEEDDE;
}

.nav-links a {
    color: #EEEDDE;
}

.nav-links a:hover {
    color: #EEEDDE;
    text-decoration: none;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    text-decoration: none;
    background-color: #141E27;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}



/*RESPONSIVE */

input[type=checkbox] {
    display: none;
}

.main_menu {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #203239;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        text-decoration: none;
        display: inline-block;
        background-color: #141E27;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .main_menu {
        display: block;
    }

    /* footer_responsive */

    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-dark .item.text {
        margin-bottom: 0;
    }

}


/* footer_css */

.footer-dark {
    margin-top: 10rem;
    padding: 20px 0;
    color: #f0f9ff;
    background-color: #203239;
}

.footer-dark h3 {
    color: #EEEDDE;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 25px;
}

.footer-dark .item.social {
    text-align: right;
}


.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px white;
    margin: 0 8px;
    color: white;
    opacity: 0.75;
}


/* tabel css  */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.5);
}

.fl-table {
    border-radius: 20px;
    font-size: 50px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 20px;
}



/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 250px;
        font-size: 20px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        justify-content: center;
        /* text-align: center; */
    }
}


/* main css  */

.card {
    margin-top: 1rem;
    border: 2px solid #000000;
    width: 400px;
     text-justify: ce;
    background-color: #b1b7b9;
    border-radius: 15px;
    text-align: center;
    color: #1f1c1c;


}
 
.card img {
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.card h1 {
    font-size: 20px;
    margin-left: -4rem;
}

.card h2 {
    font-size: 20px;
    margin-left: 13rem;
    margin-top: -2rem;
}

.card h3 {
    font-size: 20px;
    margin-left: -9rem;
    
}

.card h4 {
    font-size: 20px;
    margin-left: 15rem;
    margin-top: -2rem;
}


main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
 
.form_container{
    display: grid;
}

#saf{
    display: contents;
}
